body {

}

/* Header elements */
header {
  display: block;
  padding: 100px;
  margin-left: 20%;
  margin-right: 20%;
  background: #9EEF73;
  color: #D80734;
}
nav {}
nav a {}

/* Main section elements */
/* Footer elements */
